

@font-face {
	font-family: 'Rubik';
	src: url('fonts/Rubik-Light.eot');
	src: url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Rubik-Light.woff2') format('woff2'),
		url('fonts/Rubik-Light.woff') format('woff'),
		url('fonts/Rubik-Light.ttf') format('truetype'),
		url('fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('fonts/Rubik-Regular.eot');
	src: url('fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Rubik-Regular.woff2') format('woff2'),
		url('fonts/Rubik-Regular.woff') format('woff'),
		url('fonts/Rubik-Regular.ttf') format('truetype'),
		url('fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('fonts/Rubik-Medium.eot');
	src: url('fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Rubik-Medium.woff2') format('woff2'),
		url('fonts/Rubik-Medium.woff') format('woff'),
		url('fonts/Rubik-Medium.ttf') format('truetype'),
		url('fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('fonts/Rubik-Bold.eot');
	src: url('fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Rubik-Bold.woff2') format('woff2'),
		url('fonts/Rubik-Bold.woff') format('woff'),
		url('fonts/Rubik-Bold.ttf') format('truetype'),
		url('fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('fonts/Rubik-Black.eot');
	src: url('fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/Rubik-Black.woff2') format('woff2'),
		url('fonts/Rubik-Black.woff') format('woff'),
		url('fonts/Rubik-Black.ttf') format('truetype'),
		url('fonts/Rubik-Black.svg#Rubik-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}




@font-face {
	font-family: 'Coco Gothic';
	src: url('fonts/CocoGothic-Heavy.eot');
	src: url('fonts/CocoGothic-Heavy.eot?#iefix') format('embedded-opentype'),
		url('fonts/CocoGothic-Heavy.woff2') format('woff2'),
		url('fonts/CocoGothic-Heavy.woff') format('woff'),
		url('fonts/CocoGothic-Heavy.ttf') format('truetype'),
		url('fonts/CocoGothic-Heavy.svg#CocoGothic-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}




/* ICONS
===============================================================================================================================*/
@font-face {
  font-family: 'Custom-icons';
  src:  url('fonts/icons/Custom-icons.eot?uyzo7h');
  src:  url('fonts/icons/Custom-icons.eot?uyzo7h#iefix') format('embedded-opentype'),
    url('fonts/icons/Custom-icons.ttf?uyzo7h') format('truetype'),
    url('fonts/icons/Custom-icons.woff?uyzo7h') format('woff'),
    url('fonts/icons/Custom-icons.svg?uyzo7h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-custom {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Custom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cg:before {
	content: "\e900";
}
.icon-cg-lg:before {
	content: "\e901";
}
.icon-fb:before {
	content: "\e902";
}
.icon-inst:before {
	content: "\e903";
}
.icon-more:before {
	content: "\e904";
}
.icon-mouse:before {
	content: "\e905";
}
.icon-search:before {
	content: "\e906";
}
.icon-tel:before {
	content: "\e907";
}
.icon-tel-lg:before {
	content: "\e908";
}
