

/* MIN WIDTH
===============================================================================================================================*/

/* Min Width = 480px
---------------------------------------------------------------------------------*/
@media (min-width: 480px) {
	
}


/* Min Width = 768px
---------------------------------------------------------------------------------*/
@media (min-width: 768px) {
	.service-img-box {
		width: calc(100% - 300px);
	}
	.service-box {
		width: 300px;
	}


	.details-number.hidden {
		right: 10px;
	}
	.details-box.hidden {
		width: 0;
	}
	.details-box.hidden *:not(.details-hide-btn) {
		display: none;
	}
}


/* Min Width = 992px
---------------------------------------------------------------------------------*/
@media (min-width: 992px) {
	.service-img-box {
		width: calc(100% - 450px);
	}
	.service-box {
		width: 450px;
	}
	
	.contact-personnel:not(:last-child) {
		margin-right: 10px;
	}
}


/* Min Width = 1200px
---------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
	.not-found-h {
		font-size: 22px;
	}
}


/* Min Width = 1655px
---------------------------------------------------------------------------------*/
@media (min-width: 1655px) {
	.header-nav-menu > ul > li {
		margin-left: 70px;
	}
	.tel-number {
		margin-left: 90px;
	}

	.not-found-h {
		font-size: 27px;
	}
}



/* MAX WIDTH
===============================================================================================================================*/

/* Max Width = 1654px
---------------------------------------------------------------------------------*/
@media (max-width: 1654px) {

}


/* Max Width = 1199px
---------------------------------------------------------------------------------*/
@media (max-width: 1199px) {
	.header-nav-menu > ul > li {
		margin-right: 15px;
	}
	.search,
	.tel-number {
		letter-spacing: 0;
	}
	.tel-number {
		margin-left: 30px;
	}

	.nav-basic {
		width: 480px;
	}

	.catalog-box.large {
		width: calc(100% - 110px);
	}

	.equipment-number {
		font-size: 150px;
	}
	.equipment-h {
		font-size: 20px;
	}

	.news-heading {
		display: none;
	}
	.news-article {
		left: 15px;
	}

	.news-field,
	.about-details {
		width: calc(100% - 400px);
	}
	.news-box,
	.about-img-box {
		width: 400px;
	}

	.details-number {
		right: 360px;
	}
}


/* Max Width = 991px
---------------------------------------------------------------------------------*/
@media (max-width: 991px) {
	.header-nav-menu {
		display: none;
	}

	.equipment {
		width: 33.33333333%;
		-webkit-transform: initial !important;
		-ms-transform: initial !important;
		-o-transform: initial !important;
		transform: initial !important;
	}
	.equipment-2 {
		left: 33.33333333%;
	}
	.equipment-3 {
		left: 66.66666667%;
	}
	.equipment-4 {
		display: none;
	}

	.service-h,
	.news-h {
		font-size: 22px;
		text-align: center;
	}
	.service-list > li > a,
	.news-list > li > a {
		font-size: 16px;
	}

	.news-field,
	.about-details {
		width: calc(100% - 350px);
	}
	.news-box,
	.about-img-box {
		width: 350px;
	}
	.about-heading-box {
		display: none;
	}
	.about-article {
		left: 15px;
	}
	.about-article-h {
		margin-top: 130px;
	}
	.about-article-text,
	.svc-item-text {
		/*height: calc(100% - 230px);
		font-size: 16px;*/
	}

	.contact-box-h {
		margin-left: 0;
	}
	.contact-item-box {
		text-align: center;
	}
	.contact-personnel-box,
	.contact-office {
		display: inline-block;
		vertical-align: middle;
	}
	.contact-personnel-job::before {
		right: 0;
		margin: auto;
	}
	.contact-office-info {
		margin-bottom: 15px;
		margin-right: 0;
	}

	.svc-item-list-box {
		width: 100%;
		float: none;
	}
	.svc-item-contact {
		display: none;
	}
	.svc-item-h {
		margin-left: 0;
		margin-top: 130px;
	}

	.details-number {
		right: 310px;
	}
	.details-btn-item {
		font-size: 12px;
	}

	.details-article-number {
		height: 150px;
		font-size: 150px;
	}
	.details-article {
		left: 200px;
	}

	.mouse-scroll {
		display: none;
	}
	.page-indicator-box {
		display: none;
		/*top: initial;
		bottom: -30px;*/
	}


	/* change +++ */
	.section-container {
		padding-right: 30px;
	}
	.frame.right {
		width: 30px;
	}
	.nav-basic-btn-open > .line {
		width: 22px;
		height: 3px;
	}
	.tel-call > a {
		width: 25px;
		height: 25px;
	}
	.tel-call > a > .tel-call-phone {
		font-size: 14px;
	}
	.service-box {
		padding: 10px;
	}
	.equipment-caption {
		width: 100%;
	}
	/* change --- */


}


/* Max Width = 767px
---------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	.logo,
	.catalog-btn-open {
		width: 150px;
	}
	.catalog-btn-open {
		/*top: 83px;*/
		top: 30px;
		left: initial;
		right: 0;
	}
	.search {
		/*display: none;*/
	}
	.tel-number {
		/*margin-left: 0;
		letter-spacing: 2.5px;*/
	}

	.nav-basic {
		width: 400px;
	}
	.nav-info-contact {
		padding-right: 10px;
	}
	.nav-info-developer {
		padding-left: 10px;
	}

	.modern-equipment,
	.section-1-caption {
		width: 300px;
	}
	.modern-equipment {
		/*height: 110px;*/
	}
	.modern-equipment > h1 {
		font-size: 17px;
	}
	.section-1-caption {
		padding-left: 15px;
		padding-bottom: 15px;
	}
	.section-1-h {
		font-size: 19px;
	}
	.section-1-p > p {
		font-size: 12px;
	}

	.section-1-more {
		display: none;
	}

	.catalog-box,
	.catalog-box.large {
		width: 100%;
		left: 0;
		bottom: 0;
	}
	.catalog-box.open {
		height: 100%;
	}


	.equipment {
		width: 50%;
	}
	.equipment-2 {
		left: 50%;
	}
	.equipment-3 {
		display: none;
	}
	.equipment-caption {
		padding: 10px;
	}


	.service-img-box {
		display: none;
	}
	.service-box {
		width: 100%;
		background: #f1f1f1;
	}
	.service-h {
		margin-top: 90px;
	}
	.service-h::before,
	.news-article-h::before {
		width: 100%;
	}
	.service-list-box {
		height: calc(100% - 50px);
		margin-top: 50px;
	}


	.news-field {
		width: 100%;
		bottom: 70px;
	}
	.news-box {
		width: 100%;
		top: calc(100% - 70px);
	}
	.news-btn {
		display: block;
	}
	.news-h {
		margin-top: 0;
	}


	.about-details {
		width: 100%;
	}
	.about-img-box {
		display: none;
	}

	.catalog-box.narrow {
		display: none;
	}

	.details-number {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		-webkit-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
		transform: initial;
	}
	.details-hide-btn {
		display: none;
	}
	.details-number.app {
		display: none;
	}
	.details-caption {
		bottom: 80px;
	}
	.details-article-number {
		display: none;
	}
	.details-article {
		left: 15px;
	}

	.search-box-p {
		font-size: 18px;
	}

	/* change +++ */
	.header-nav.right {
		left: -20px;
		right: -80px;
	}
	.search-text.close {
		display: none;
	}
	.search-input-box.open {
		-webkit-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
	}

	.about-article-text,
	.svc-item-text {
		height: calc(100% - 60px);
		margin-top: 60px;
	}
	/* change --- */


}


/* Max Width = 479px
---------------------------------------------------------------------------------*/
@media (max-width: 479px) {
	.logo,
	.catalog-btn-open {
		width: 100px;
	}
	.catalog-btn-open {
		padding: 15px 0;
		/*top: 69px;*/
		font-size: 10px;
	}

	.nav-basic {
		width: 100%;
		padding: 10px;
		padding-left: 20px;
	}

	.arrow-box {
		left: auto;
	}

	.modern-equipment,
	.section-1-caption {
		width: initial;
	}
	.modern-equipment {
		display: none;
		/*height: initial;
		padding: 10px 0;
		bottom: initial;*/
	}
	.modern-equipment > h1 {
		text-align: center;
		font-size: 22px;
	}
	.section-1-caption {
		padding: 10px;
		text-align: center;
	}
	.section-1-h {
		font-size: 17px;
	}
	.section-1-h::before {
		width: 100%;
	}

	.catalog-item-lg {
		width: initial;
		float: none !important;
	}


	.equipment-1 {
		width: 100%;
		right: 0;
	}
	.equipment-1:hover {
		-webkit-transform: initial;
		-ms-transform: initial;
		-o-transform: initial;
		transform: initial;
	}
	.equipment-2 {
		display: none;
	}
	.equipment-caption {
		width: 100%;
	}

	.service-box {
		padding-left: 10px;
	}

	.about-article-h {
		margin-left: 0;
	}

	.details-btn-item {
		font-size: 10px;
	}

	.tel-call-modal-box {
		max-width: none;
		max-height: none;
	}


	/* change +++ */
	.search-input-box.open {
		width: 130px;
	}
	/* change --- */
}



