* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.2;
	font-family: 'Rubik';
	font-size: 14px;
	font-weight: 400;
	color: #363636;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

a,
button,
select,
input,
textarea {
	outline: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

b,
strong {
	font-weight: 700;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}

p, ul {
	margin: 0 0 10px;
}


.font-light {
	font-weight: 300;
}
.font-normal {
	font-weight: 400;
}
.font-medium {
	font-weight: 500;
}
.font-bold {
	font-weight: 700;
}
.font-black {
	font-weight: 900;
}

.font-coco {
	font-family: 'Coco Gothic';
}








/* PAGE FRAMES
===============================================================================================================================*/
.frame-box {

}
.frame {
	position: fixed;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background: #fff;
	z-index: 10;
}
.frame-box.dark {
	color: #fff;
}
.frame-box.dark > .frame {
	background: #363636;
}
.frame.vertical {
	height: 30px;
	left: 0;
	right: 0;
}
.frame.horizontal {
	width: 30px;
	top: 0;
	bottom: 0;
}

.frame-container {
	position: relative;
}
.frame.vertical .frame-container {
	width: calc(100% - 110px);
	min-height: 1px;
	left: 30px;
}
.frame.horizontal .frame-container {
	height: calc(100% - 60px);
	top: 30px;
}



/*__________ Frame Top +++ __________*/
.frame.top {
	top: 0;
}
.header {

}
.header-nav {
	max-height: 30px;
	position: absolute;
	top: 0;
}


.header-nav.left {
	left: 0;
}
.logo,
.header-nav-menu {
	float: left;
}
.logo {
	position: relative;
	top: 30px;
}
.logo > a {
	display: block;
	padding: 7px 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background: #fff;
}
.frame-box.dark .logo > a {
	background: #363636;
}
.logo > a > img {

}
.header-nav-menu {

}
.header-nav-menu > ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.header-nav-menu > ul > li {
	float: left;
	margin-right: 30px;
}
.header-nav-menu > ul > li > a {
	display: block;
	line-height: 30px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: inherit;
}
.header-nav-menu > ul > li > a:hover {
	color: #00c9c6;
}


.header-nav.right {
	right: 0;
}
.search,
.tel-number {
	float: left;
	line-height: 30px;
	letter-spacing: 2.5px;
	font-size: 15px;
	font-weight: 500;
}
.search {

}
.search-text {
	float: left;
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .3s ease .3s;
	-o-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}
.search-text.close {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}
.search-text > p {
	margin-bottom: 0;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.search-text > p:hover {
	color: #00c9c6;
}
.search-text > p > i {

}
.search-input-box {
	width: 0;
	height: 27px;
	float: left;
	padding-top: 3px;
	overflow: hidden;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.search-input-box.open {
	width: 200px;
	-webkit-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}
.search-input {
	width: calc(100% - 24px);
	height: 24px;
	float: left;
	border: 0;
	border-bottom: 1px solid #363636;
	font-size: 15px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background-color: transparent;
	color: inherit;
}
.search-input::-webkit-input-placeholder {
	color: inherit;
}
.search-input::-moz-placeholder {
	color: inherit;
	opacity: 1;
}
.search-input:-ms-input-placeholder {
	color: inherit;
}
.search-input:-moz-placeholder {
	color: inherit;
	opacity: 1;
}
.search-input::placeholder {
	color: inherit;
	opacity: 1;
}
.frame-box.dark .search-input {
	border-color: #fff;
}
.search-input:focus {
	border-color: #00c9c6 !important;
}
.search-input-close {
	width: 24px;
	line-height: 24px;
	float: left;
	margin-bottom: 0;
	border-radius: 50%;
	cursor: pointer;
	letter-spacing: 0;
	text-align: center;
	font-size: 10px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #363636;
	color: #fff;
}
.frame-box.dark .search-input-close {
	background: #fff;
	color: #363636;
}
.search-input-close:hover {
	background: #00c9c6 !important;
	color: #fff !important;
}
.search-input-close::before {
	content: '\002715';
	display: block;
}


.tel-number {
	margin-left: 60px;
}
.tel-number > p {
	margin-bottom: 0;
}
.tel-number > p > a {
	display: block;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: inherit;
}
.tel-number > p > a:hover {
	color: #00c9c6;
}
.tel-number > p > a > i {

}
/*__________ Frame Top --- __________*/



/*__________ Frame Right +++ __________*/
.frame.right {
	width: 80px;
	right: 0;
	z-index: 15;
}
.frame.right.shadow-light {
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.frame.right.shadow-dark {
	-webkit-box-shadow: -1px 0px 7px #000;
	box-shadow: -1px 0px 7px #000;
}
.aside-right {
	height: 100%;
}


/*__________ Basic Navigation __________*/
.nav-basic-box {
	margin-bottom: 30px;
}

/* Navigation Button Open */
.nav-basic-btn-open-box {
	text-align: center;
}
.nav-basic-btn-open {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
}
.nav-basic-btn-open > .line {
	display: block;
	width: 32px;
	height: 4px;
	border-radius: 100px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #363636;
}
.frame-box.dark .nav-basic-btn-open > .line {
	background: #fff;
}
.nav-basic-btn-open > .line + .line {
	margin-top: 4px;
}
.nav-basic-btn-open:hover > .line {
	background: #00c9c6 !important;
}
.nav-basic-btn-open > .line:nth-of-type(1) {

}
.nav-basic-btn-open > .line:nth-of-type(2) {

}
.nav-basic-btn-open > .line:nth-of-type(3) {

}


/* Navigation Menu */
.nav-basic {
	width: 530px;
	padding: 30px;
	padding-left: 50px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transform: translateX(105%);
	-ms-transform: translateX(105%);
	-o-transform: translateX(105%);
	transform: translateX(105%);
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	background: #fff;
	z-index: 99;
}
.nav-basic.open {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
}
.frame-box.dark .nav-basic {
	background: #363636;
}

.nav-basic-bg {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 90;
}
.nav-basic-bg.active {
	display: block;
}

.nav-basic-container {
	height: 100%;
	position: relative;
}
.nav-basic-menu {
	height: 290px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 100px;
	margin: auto;
}
.nav-basic-menu > li {
	display: block;
}
.nav-basic-menu > li + li {
	margin-top: 15px;
}
.nav-basic-menu > li > a {
	display: block;
	position: relative;
	text-decoration: none;
	font-size: 30px;
	font-weight: 500;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: inherit;
}
.nav-basic-menu > li.active > a,
.nav-basic-menu > li > a:hover {
	color: #00c9c6;
}
.nav-basic-menu > li > a::before {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background: #00c9c6;
}
.nav-basic-menu > li.active > a::before {
	width: 100px;
}

/* Navigation Button Close */
.nav-basic-btn-close,
.tel-call-modal-close {
	display: block;
	height: 24px;
	padding: 0;
	border: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
}
.nav-basic-btn-close > .line,
.tel-call-modal-close > .line {
	display: block;
	width: 25px;
	height: 4px;
	border-radius: 100px;
	position: relative;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #363636;
}
.frame-box.dark .nav-basic-btn-close > .line {
	background: #fff;
}
.nav-basic-btn-close:hover > .line,
.tel-call-modal-close:hover > .line {
	background: #00c9c6 !important;
}
.nav-basic-btn-close > .line:nth-of-type(1),
.tel-call-modal-close > .line:nth-of-type(1) {
	top: 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-basic-btn-close > .line:nth-of-type(2),
.tel-call-modal-close > .line:nth-of-type(2) {
	bottom: 2px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Navigation Info */
.nav-basic-info {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.nav-info-contact,
.nav-info-developer {
	display: inline-block;
	vertical-align: bottom;
	font-size: 11px;
	font-weight: 300;
}
.nav-info-contact {
	width: 50%;
	padding-right: 20px;
}
.nav-info-contact > p {
	margin-bottom: 7px;
}
.nav-info-address {

}
.nav-info-tel {

}
.nav-info-tel > a {
	color: inherit;
}
.nav-info-tel > a:hover {
	color: #00c9c6;
}
.nav-info-copyright {
	margin-bottom: 0 !important;
	text-transform: uppercase;
	font-weight: 500;
}

.nav-info-developer {
	width: calc(50% - 4px);
	padding-left: 20px;
}
.nav-info-developer > p {
	margin-bottom: 7px;
}
.nav-info-developer > p:nth-of-type(1) {

}
.nav-info-developer > p:nth-of-type(2) {
	margin-bottom: 0;
}
.nav-info-developer > p:nth-of-type(2) > a {
	color: inherit;
}
.nav-info-developer > p:nth-of-type(2) > a:hover {
	color: #00c9c6;
}



/*__________ Telephone Caller __________*/
.tel-call-box {

}
.tel-call {
	margin-bottom: 0;
	text-align: center;
}
.tel-call > a {
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	position: relative;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: inherit;
}
.tel-call > a:hover {
	color: #00c9c6;
}
.tel-call > a > .tel-call-frame {
	display: block;
	font-size: 35px;
	-webkit-animation: infoniteRotate 5s cubic-bezier(0.7, 0, 0, 1) infinite;
	-o-animation: infoniteRotate 5s cubic-bezier(0.7, 0, 0, 1) infinite;
	animation: infoniteRotate 5s cubic-bezier(0.7, 0, 0, 1) infinite;
}
@-webkit-keyframes infoniteRotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes infoniteRotate {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes infoniteRotate {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes infoniteRotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.tel-call > a:hover > .tel-call-frame {
	-webkit-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.tel-call > a > .tel-call-phone {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1px;
	right: 0;
	margin: auto;
	font-size: 16px;
}

/* Telephone Call Modal */
.tel-call-modal-box {
	max-height: 350px;
	max-width: 500px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	background-color: #363636;
	z-index: 99;
}
.tel-call-modal-box.active {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.tel-call-modal-close {
	top: 15px;
	right: 15px;
	z-index: 2;
}
.tel-call-modal-close > .line {
	width: 22px;
	background: #fff;
}

/* Application */
.tel-call-modal-app {
	width: 100%;
	height: 100%;
	padding: 10px;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.tel-call-modal-app.active {
	opacity: 1;
	visibility: visible;
}
.tel-call-modal-h {
	margin-top: 50px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	color: #fff;
}
.tel-call-modal-form-box {
	text-align: center;
}
.tel-call-modal-form {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 300px;
}
.tel-call-modal-input {

}
.tel-call-modal-input.active::before {
	max-width: 100% !important;
}
.tel-call-modal-input > input {
	max-width: none !important;
}
.tel-call-modal-submit {
	border-top: 1px solid #585858;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.tel-call-modal-submit > button {
	display: block;
	width: 100%;
	padding: 20px 0;
	border: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 15px;
	font-weight: 500;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background-color: transparent;
	color: #fff;
}
.tel-call-modal-submit > button:hover {
	color: #00c9c6;
}

/* Received */
.tel-call-modal-received {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s ease .3s;
	-o-transition: all .5s ease .3s;
	transition: all .5s ease .3s;
}
.tel-call-modal-received.active {
	opacity: 1;
	visibility: visible;
}
.received-inner {
	width: 100%;
	height: 100%;
	display: table;
}
.received-text {
	display: table-cell;
	vertical-align: middle;
}
.received-text > p {
	margin-bottom: 5px;
	padding: 0 10px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}

.tel-call-modal-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(54, 54, 54, 0.33);
	z-index: 90;
}
.tel-call-modal-bg.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all .3s ease .3s;
	-o-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}


/*__________ Page Indicator __________*/
.page-indicator-box {
	height: 190px;
	position: absolute;
	top: 85px;
	bottom: 120px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.page-indicator-box.active {
	opacity: 1;
	visibility: visible;
}
.page-indicator {
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 25px;
	list-style: none;
}
.page-indicator > li {
	display: block;
	position: relative;
}
.page-indicator > li + li {
	margin-top: 7px;
}
.page-indicator > li::before {
	content: '';
	display: block;
	height: 2px;
	width: 80px;
	position: absolute;
	bottom: 0;
	right: -130px;
	-webkit-transition: all 0.3s cubic-bezier(0, 1, 1, 1.5);
	-o-transition: all 0.3s cubic-bezier(0, 1, 1, 1.5);
	transition: all 0.3s cubic-bezier(0, 1, 1, 1.5);
	background: #11b3b0;
}
.page-indicator > li.active::before {
	right: 0;
}
.page-indicator > li > a {
	display: block;
	padding: 5px 0;
	letter-spacing: 3.5px;
	text-align: right;
	text-decoration: none;
	font-size: 13px;
	font-weight: 900;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #a8a7a8;
}
.page-indicator > li.active > a,
.page-indicator > li > a:hover {
	color: inherit;
}


/*__________ Page Indicator __________*/
.mouse-scroll {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.mouse-scroll-line {
	text-align: center;
}
.mouse-scroll-line::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 80px;
	background: #868686;
}
.mouse-scroll-mouse-box {
	text-align: center;
}
.mouse-scroll-mouse {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	position: relative;
	animation: animateMouse 5s linear 1s infinite;
}
@-webkit-keyframes animateMouse {
	0% {
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
	3% {
		-webkit-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	6% {
		-webkit-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	9% {
		-webkit-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	12% {
		-webkit-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	15% {
		-webkit-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	18% {
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}
@-o-keyframes animateMouse {
	0% {
		-o-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
	3% {
		-o-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	6% {
		-o-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	9% {
		-o-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	12% {
		-o-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	15% {
		-o-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	18% {
		-o-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}
@-moz-keyframes animateMouse {
	0% {
		-ms-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
	3% {
		-ms-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	6% {
		-ms-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	9% {
		-ms-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	12% {
		-ms-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	15% {
		-ms-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	18% {
		-ms-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}
@keyframes animateMouse {
	0% {
		-webkit-transform: translateX(0px) rotate(0deg);
		-ms-transform: translateX(0px) rotate(0deg);
		-o-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
	3% {
		-webkit-transform: translateX(-5px) rotate(-10deg);
		-ms-transform: translateX(-5px) rotate(-10deg);
		-o-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	6% {
		-webkit-transform: translateX(5px) rotate(10deg);
		-ms-transform: translateX(5px) rotate(10deg);
		-o-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	9% {
		-webkit-transform: translateX(-5px) rotate(-10deg);
		-ms-transform: translateX(-5px) rotate(-10deg);
		-o-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	12% {
		-webkit-transform: translateX(5px) rotate(10deg);
		-ms-transform: translateX(5px) rotate(10deg);
		-o-transform: translateX(5px) rotate(10deg);
		transform: translateX(5px) rotate(10deg);
	}
	15% {
		-webkit-transform: translateX(-5px) rotate(-10deg);
		-ms-transform: translateX(-5px) rotate(-10deg);
		-o-transform: translateX(-5px) rotate(-10deg);
		transform: translateX(-5px) rotate(-10deg);
	}
	18% {
		-webkit-transform: translateX(0px) rotate(0deg);
		-ms-transform: translateX(0px) rotate(0deg);
		-o-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}
.mouse-scroll-mouse-border {
	display: block;
	width: 17px;
	height: 30px;
	border: 1px solid #868686;
	border-radius: 100px;

}
.mouse-scroll-mouse-wheel {
	display: block;
	width: 3px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 0;
	right: 0;
	margin: auto;
	animation: animateWheel 1s linear infinite;
	background: #868686;
}
@-webkit-keyframes animateWheel {
	from {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		-webkit-transform: translateY(7px);
		transform: translateY(7px);
	}
}
@-o-keyframes animateWheel {
	from {
		opacity: 1;
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		-o-transform: translateY(7px);
		transform: translateY(7px);
	}
}
@-moz-keyframes animateWheel {
	from {
		opacity: 1;
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		-ms-transform: translateY(7px);
		transform: translateY(7px);
	}
}
@keyframes animateWheel {
	from {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		-webkit-transform: translateY(7px);
		-ms-transform: translateY(7px);
		-o-transform: translateY(7px);
		transform: translateY(7px);
	}
}
/*__________ Frame Right --- __________*/



/*__________ Frame Bottom +++ __________*/
.frame.bottom {
	bottom: 0;
}
.footer {

}


/*__________ Socials __________*/
.social-box {
	max-height: 30px;
	position: absolute;
	left: 0;
	top: 0;
}
.social {
	float: left;
}
.social.instagram {

}
.social.facebook {
	margin-left: 20px;
}
.social > a {
	display: block;
	line-height: 30px;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #868686;
}
.frame-box.dark .social > a {
	color: inherit;
}
.social > a:hover {
	color: #00c9c6 !important;
}
.social > a > i {
	vertical-align: middle;
	font-size: 16px;
}


/*__________ Arrows __________*/
.arrow-box {
	width: 90px;
	max-height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.arrow-box.hidden {
	display: none;
}
.arrow {
	float: left;
	width: 50%;
	margin-bottom: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	line-height: 30px;
	font-size: 28px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.arrow:hover {
	color: #00c9c6;
}
.arrow.left {
	text-align: left;
}
.arrow.right {
	text-align: right;
}
/*__________ Frame Bottom --- __________*/



/*__________ Frame Left +++ __________*/
.frame.left {
	left: 0;
}
.aside-left {
	height: 100%;
}

.lang-box {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.lang {
	display: block;
	padding: 3px 0;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	color: inherit;
}
.lang.active,
.lang:hover {
	text-decoration: underline;
	color: #12aeab;
}
.lang.ru {
	
}
.lang.uz {
	
}
.lang.en {

}
/*__________ Frame Left --- __________*/





/* CATALOG
===============================================================================================================================*/

/* Catalog Button Open  */
.catalog-btn-open {
	width: 189px;
	padding: 20px 0;
	border: 0;
	position: absolute;
	top: 93px;
	left: 0;
	cursor: pointer;
	line-height: 1;
	text-align: center;
	font-family: "Coco Gothic";
	font-size: 13px;
	font-weight: 900;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #fff;
	color: #000;
	z-index: 5;
}
.catalog-btn-open.dark {
	background: #797979;
	color: #fff;
}
.catalog-btn-open.grey {
	background: #f0f0f0;
}
.catalog-btn-open:hover {
	background: #00c9c6;
	color: #fff;
}
.catalog-btn-open > i {
	margin-right: 7px;
}


.catalog-box {
	width: 450px;
	height: 0;
	position: fixed;
	left: 30px;
	bottom: 30px;
	overflow: hidden;
	-webkit-transition: all 0.5s cubic-bezier(0, 0.5, 0, 1);
	-o-transition: all 0.5s cubic-bezier(0, 0.5, 0, 1);
	transition: all 0.5s cubic-bezier(0, 0.5, 0, 1);
	z-index: 99;
}
.catalog-box.open,
.catalog-box.narrow {
	height: calc(100% - 124px);
}
.catalog-box.narrow {
	width: 189px;
}
.catalog-box.large {
	width: 1000px;
}

/* Catalog Box Background  */
.catalog-box-bg {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 90;
}
.catalog-box-bg.active {
	display: block;
}

.catalog-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../images/catalog-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: -5;
}

.catalog-container {
	height: 100%;
	padding: 15px;
	position: relative;
}

/* Catalog Header  */
.catalog-header {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 20px;
}

.catalog-btn-close,
.catalog-name,
.catalog-btn-enlarge {
	float: left;
}
.catalog-btn-close {
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
}
.catalog-box.narrow .catalog-btn-close {
	display: none;
}
.catalog-btn-close > .line {
	display: block;
	width: 18px;
	height: 2px;
	margin: auto;
	border-radius: 100px;
	position: relative;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #363636;
}
.catalog-btn-close:hover > .line {
	background: #00c9c6;
}
.catalog-btn-close > .line:nth-of-type(1) {
	top: 1px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.catalog-btn-close > .line:nth-of-type(2) {
	bottom: 1px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.catalog-name {
	width: calc(100% - 40px);
	line-height: 20px;
	margin-bottom: 0;
	text-align: center;
	font-family: "Coco Gothic";
	font-size: 14px;
	font-weight: 900;
	color: #000;
}

.catalog-btn-enlarge {
	display: block;
	width: 20px;
	padding: 0;
	border: 0;
	cursor: pointer;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
	background: transparent;
	color: inherit;
}
.catalog-btn-enlarge:hover {
	color: #00c9c6;
}
.catalog-btn-enlarge > .icon-cg-lg {
	display: block;
	font-size: 20px;
	-webkit-transition: transform .3s ease .5s;
	-o-transition: transform .3s ease .5s;
	transition: transform .3s ease .5s;
}
.catalog-btn-enlarge.active > .icon-cg-lg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}


/* Catalog Body  */
.catalog-body {
	height: calc(100% - 40px);
	font-weight: 500;
	color: #2d2d31;
}


.catalog-inner {

}
.catalog-item-box {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.catalog-item-lg {
	width: calc(50% - 10px);
	margin-bottom: 20px;
}
.catalog-item-lg.left {
	float: left;
}
.catalog-item-lg.right {
	float: right;
}
.catalog-box.large .catalog-item-lg,
.catalog-box.narrow .catalog-item-lg {
	width: 100%;
	float: none;
}
.catalog-item-lg-h {
	margin-top: 0;
	margin-bottom: 15px;
	padding-top: 5px;
	position: relative;
	font-size: 14px;
}
.catalog-item-lg-h::before {
	content: '';
	display: block;
	width: 25px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	background: #12aeab;
}


.catalog-item-sm-box {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.catalog-item-sm {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-decoration: none !important;
	color: inherit;

}
.catalog-box.large .catalog-item-sm {
	width: 170px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	-webkit-animation: fadeFromBottomToTop 1.4s ease .5s backwards;
	-o-animation: fadeFromBottomToTop 1.4s ease .5s backwards;
	animation: fadeFromBottomToTop 1.4s ease .5s backwards;
}
@-webkit-keyframes fadeFromBottomToTop {
	from {
		opacity: 0;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-o-keyframes fadeFromBottomToTop {
	from {
		opacity: 0;
		-o-transform: translateY(10px);
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-moz-keyframes fadeFromBottomToTop {
	from {
		opacity: 0;
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@keyframes fadeFromBottomToTop {
	from {
		opacity: 0;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		-o-transform: translateY(10px);
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.catalog-item-sm-h {
	margin-bottom: 6px;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 11px;
}
.catalog-item-sm:hover > .catalog-item-sm-h,
.catalog-item-sm.active > .catalog-item-sm-h {
	text-decoration: underline;
	color: #fff;
}
.catalog-item-sm-inner {
	display: none;
}
.catalog-box.large .catalog-item-sm-inner {
	display: block;
	
}
.catalog-item-sm-p {
	height: 18px;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 8px;
}
.catalog-item-sm-img {
	height: 95px;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.catalog-item-sm-img > img {
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
	margin: auto;
	z-index: 1;
}
.catalog-item-sm-img.cover > img {
	min-width: 100%;
	min-height: 100%;
	max-height: 130%;
	max-width: 130%;
}
.catalog-item-sm-img.contain > img {
	max-height: 100%;
	max-width: 100%;
	padding: 5px;
}
.catalog-item-sm-img > p {
	margin-bottom: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.catalog-item-sm:hover .catalog-item-sm-img > p,
.catalog-item-sm.active .catalog-item-sm-img > p {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.catalog-item-sm-img > p > span {
	display: block;
	height: 9px;
	line-height: 9px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 8px;
	color: #fff;
}






/* PAGE SECTIONS
===============================================================================================================================*/
.fullpage {

}
.section {

}
.slide {

}
.fp-tableCell {
	display: block;
}
.fp-controlArrow {
	display: none;
}
.section-container {
	height: 100%;
	padding-left: 30px;
	padding-right: 80px;
	position: relative;
}
.section-content {
	height: 100%;
	position: relative;
	overflow: hidden;
}
.bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}



/*__________ Section - 1 +++ __________*/
.section1 {

}

.slide-1-1 {

}
.slide-1-2 {

}
.slide-1-3 {

}

.modern-equipment,
.section-1-caption {
	width: 360px;
	position: absolute;
}
.modern-equipment {
	height: 128px;
	padding: 10px;
	left: 0;
	top: 150px;
	bottom: 200px;
	margin: auto;
	background: #fff;
}
.modern-equipment > h1 {
	margin: 0;
	font-weight: 700;
	font-size: 30px;
	color: #ed4968;
}

.section-1-caption {
	padding-bottom: 25px;
	padding-left: 25px;
	bottom: 30px;
	left: 0;
}
.section-1-h {
	margin-top: 0;
	margin-bottom: 15px;
	padding-bottom: 5px;
	position: relative;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}
.section-1-h::before {
	content: '';
	display: block;
	width: 50%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #12aeab;
}
.section-1-p {

}
.section-1-p > p {
	margin-bottom: 0;
	text-shadow: 0 2px 4px #000;
	color: #fff;
}

.section-1-more {
	position: absolute;
	right: 0;
	bottom: 30px;
}
.section-1-more > a {
	display: block;
	width: 150px;
	padding: 17px 0;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	font-family: "Coco Gothic";
	font-size: 13px;
	font-weight: 900;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #fff;
	color: inherit;
}
.section-1-more > a:hover {
	background: #00c9c6;
	color: #fff;
}
.section-1-more > a > i {

}

/*__________ Section - 1 --- __________*/




/*__________ Section - 2 +++ __________*/
.section-2 {
	background: #363636;
}
.slide-2-1 {

}
.slide-2-2 {

}
.section-2 .section-content{
	overflow: visible;
}

.return-equipment {

}

.equipment {
	display: block;
	width: calc(25% + 90px);
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 1;
}
.equipment:hover {
	-webkit-transform: translateX(-90px);
	-ms-transform: translateX(-90px);
	-o-transform: translateX(-90px);
	transform: translateX(-90px);
}
.equipment.bottom {

}
.equipment.top {

}
.equipment-1 {
	right: calc(75% - 90px);
	-webkit-transform: initial !important;
	-ms-transform: initial !important;
	-o-transform: initial !important;
	transform: initial !important;
}
.equipment-2 {
	right: calc(50% - 90px);
}
.equipment-3 {
	right: calc(25% - 90px);
}
.equipment-4 {
	right: calc(0% - 90px);
}
.equipment::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 1;
}
.equipment-1:before {
	background-color: rgba(24, 221, 216, 0.44);
}
.equipment-2:before {
	background-color: rgba(167, 58, 102, 0.44);
}
.equipment-3:before {
	background-color: rgba(156, 216, 221, 0.44);
}
.equipment-4:before {
	background-color: rgba(18, 180, 176, 0.44);
}

.equipment-img {
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	max-height: 150%;
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
	margin: auto;
}
.equipment-number {
	margin-bottom: 0;
	position: absolute;
	right: 0;
	line-height: 1;
	font-size: 180px;
	font-weight: 500;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	z-index: 2;
}
.equipment:hover .equipment-number {
	right: 60px;
}
.equipment.bottom > .equipment-number {
	top: 150px;
}
.equipment.top > .equipment-number {
	bottom: 70px;
}
.equipment-1 > .equipment-number {
	color: #2d2d31;
}
.equipment-2 > .equipment-number {
	color: #fff;
}
.equipment-3 > .equipment-number {
	color: #cf246a;
}
.equipment-4 > .equipment-number {
	color: #fff;
}

.equipment-caption {
	width: calc(100% - 90px);
	padding: 15px;
	position: absolute;
	left: 0;
	z-index: 2;
}
.equipment.bottom > .equipment-caption {
	bottom: 30px;
}
.equipment.top > .equipment-caption {
	top: 130px;
}
.equipment-h {
	margin-top: 0;
	margin-bottom: 15px;
	padding-bottom: 7px;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
	position: relative;
	font-weight: 700;
	color: #fff;
}

.equipment-h::before {
	content: '';
	display: block;
	width: 65%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.equipment-1 .equipment-h::before {
	background: #cf246a;
}
.equipment-2 .equipment-h::before {
	background: #11b3b0;
}
.equipment-3 .equipment-h::before {
	background: #11b3b0;
}
.equipment-4 .equipment-h::before {
	background: #fff;
}

.equipment-p {
	margin-bottom: 0;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}
/*__________ Section - 2 --- __________*/




/*__________ Section - 3 +++ __________*/
.section-3 {
	
}

.service-img-box,
.service-box {
	position: absolute;
	top: 30px;
	bottom: 30px;
}
.service-img-box {
	left: 0;
}
.service-img {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	-webkit-box-shadow: 15px 0px 15px -12px rgba(0, 0, 0, 0.3);
	box-shadow: 15px 0px 15px -12px rgba(0, 0, 0, 0.3);
}
.service-img > img {
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	max-height: 150%;
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.service-img > img.active {
	opacity: 1;
	visibility: visible;
}
.service-img-1 {

}
.service-img-2 {

}
.service-img-3 {

}


.service-box {
	padding: 30px;
	right: 0;
	overflow: hidden;
}
.service-h {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	position: relative;
	font-size: 26px;
	font-weight: 700;
}
.service-h::before {
	content: '';
	display: block;
	width: 55%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #12aeab;
}
.service-list-box {
	height: calc(100% - 121px);
}
.service-list {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.service-list > li {
	display: block;
}
.service-list > li + li {
	margin-top: 18px;
}
.service-list > li > a {
	display: block;
	padding-bottom: 7px;
	position: relative;
	text-decoration: none;
	font-size: 19px;
	font-weight: 700;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #4f4f4f;
}
.service-list > li > a:hover,
.service-list > li.active > a {
	color: #00c9c6;
}
.service-list > li > a::before {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 1s cubic-bezier(0, 1, 0, 1);
	-o-transition: all 1s cubic-bezier(0, 1, 0, 1);
	transition: all 1s cubic-bezier(0, 1, 0, 1);
	background: #12aeab;
}
.service-list > li.active > a::before {
	width: 40px;
	opacity: 1;
}
/*__________ Section - 3 --- __________*/




/*__________ Section - 4 +++ __________*/
.section-4 {

}

.news-field,
.about-details {
	width: calc(100% - 450px);
	position: absolute;
	left: 0;
	top: 30px;
	bottom: 30px;
}
.news-heading,
.about-heading-box {
	width: 200px;
	height: 100px;
	margin-bottom: 0;
	position: absolute;
	left: -50px;
	bottom: 50px;
	line-height: 100px;
	font-size: 100px;
	font-weight: 700;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: #f5f5f5;
}

.news-article,
.about-article {
	padding-right: 15px;
	position: absolute;
	left: 100px;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
}
.news-article.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all .5s ease .3s;
	-o-transition: all .5s ease .3s;
	transition: all .5s ease .3s;
}
.news-article-h,
.about-article-h {
	max-height: 66px;
	margin-top: 80px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
	font-size: 24px;
	font-weight: 700;
}
.news-article-h::before,
.about-article-h::before {
	content: '';
	display: block;
	width: 100px;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #12aeab;
	z-index: 1;
}
.news-article-h::after {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fff;
}
.news-article-text,
.about-article-text {
	height: calc(100% - 180px);
	font-size: 18px;
}


.news-box {
	width: 450px;
	height: calc(100% - 30px);
	padding: 20px;
	padding-right: 30px;
	padding-bottom: 70px;
	position: absolute;
	top: 30px;
	right: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #363636;
	color: #fff;
	z-index: 12;
}
.news-box.active {
	top: 30px !important;
}
.news-btn {
	display: none;
	width: 25px;
	height: 25px;
	padding: 0;
	border: 0;
	position: absolute;
	right: 5px;
	top: 20px;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
}
.news-btn::before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	margin: auto;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.news-btn.active::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.news-h {
	margin: 30px 0;
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 26px;
	font-weight: 700;
}
.news-h::before {
	content: '';
	display: block;
	width: 55%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #12aeab;
}
.news-list-box {
	height: calc(100% - 100px);
}
.news-list {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.news-list > li {
	display: block;
}
.news-list > li + li {
	margin-top: 15px;
}
.news-list > li > a {
	display: block;
	padding-bottom: 7px;
	position: relative;
	text-decoration: none;
	font-size: 19px;
	font-weight: 700;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: inherit;
}
.news-list > li > a:hover {
	color: #00c9c6;
}
.news-list > li > a::before {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background: #12aeab;
}
.news-list > li.active > a::before {
	width: 70px;
}

.news-more {
	display: block;
	margin-bottom: 0;
	padding: 15px 0;
	border-top: 1px solid #999;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	text-decoration: none !important;
	font-size: 15px;
	font-weight: 500;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #bbb;
}
.news-more::before,
.details-btn-item::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 3px;
	margin-right: 10px;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #12aeab;
}
.news-more:hover {
	color: #fff;
}
.news-more:hover::before,
.details-btn-item:hover::before {
	opacity: 1;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
/*__________ Section - 4 --- __________*/




/*__________ Section - 5 +++ __________*/
.section-5 {

}


.about-details {

}

.about-heading-box {
	
}
.about-heading {
	margin-bottom: 0;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.about-heading.active {
	opacity: 1;
	visibility: visible;
}

.about-article {
	opacity: 1;
	visibility: visible;
}
.about-article-h {
	max-height: none;
	margin-left: 40%;
	margin-bottom: 50px;
	font-size: 26px;
}
.about-article-h::before {
	right: 0;
}
.about-article-text {

}
.about-item {

}
.about-history {

}
.about-achievement {

}
.about-license {

}
.about-item-h {
	margin-top: 0;
}
.about-item-p {
	margin-bottom: 30px;
}

.about-img-box {
	width: 450px;
	position: absolute;
	right: 0;
	top: 30px;
	bottom: 30px;
	overflow: hidden;
}
.about-img,
.contact-img-box > img {
	min-width: 100%;
	min-height: 100%;
	max-width: 120%;
	max-height: 120%;
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.about-img.active {
	opacity: 1;
	visibility: visible;
}
/*__________ Section - 5 --- __________*/




/*__________ Section - 6 +++ __________*/
.section-6 {

}

.contact-box {
	padding-left: 15px;
	padding-right: 15px;
}
.contact-box-h {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.contact-box-h::before {
	max-width: 300px;
	width: initial;
}
.contact-item-box {
	max-width: 1000px;
	margin: auto;
}

.contact-personnel-box,
.contact-office {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.contact-personnel {
	margin-bottom: 20px;
}

.contact-personnel-img {
	overflow: hidden;
}
.contact-personnel-img > img {

}
.contact-personnel-job {
	margin-bottom: 7px;
	padding-bottom: 5px;
	position: relative;
	font-weight: 500;
	color: #000;
}
.contact-personnel-job::before {
	content: '';
	display: block;
	width: 30px;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #12aeab;
}
.contact-personnel > p,
.contact-office-info > p {
	line-height: 1;
	margin-bottom: 5px;
	font-size: 16px;
}
.contact-personnel-name {
	font-weight: 500;
}
.contact-personnel-tel {

}
.contact-personnel-email {

}
.contact-personnel-tel > a,
.contact-personnel-email > a {
	color: inherit;
}
.contact-personnel-tel > a {

}
.contact-personnel-email > a {

}


.contact-office {
	align-items: flex-end;
}
.contact-office-info,
.contact-office-img {

}
.contact-office-info {
	margin-right: 15px;
}
.contact-office-h {
	margin-top: 0;
}
.contact-office-info > p {

}
.contact-office-address {

}
.contact-office-tel {

}
.contact-office-email {

}
.contact-office-tel > a,
.contact-office-email > a {
	color: inherit;
}

.contact-office-img {

}
.contact-office-img > img {

}


.contact-img-box {

}
.contact-img-box > img {
	opacity: 1;
	visibility: visible;
}
/*__________ Section - 6 --- __________*/





/* SCROLL BAR
===============================================================================================================================*/
.mCSB_scrollTools {
	width: 20px;
}
.mCSB_scrollTools .mCSB_draggerRail {
	border-radius: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	border-radius: 0;
	background: #00c9c6;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background: #12aeab;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
	width: 6px;
}





/* SERVICE ITEM
===============================================================================================================================*/
.full-page {
	height: 100%;
	overflow: hidden;
}


/*__________ Return Button +++ __________*/
.return {
	height: 20px;
	position: absolute;
	top: 85px;
	bottom: 120px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.return.active {
	opacity: 1;
	visibility: visible;
}
.return > a {
	display: block;
	padding-bottom: 5px;
	position: relative;
	text-decoration: none;
	font-size: 13px;
	font-weight: 900;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #a8a7a8;
}
.return > a:hover {
	color: #fff;
}
.return > a::before {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	position: absolute;
	left: -30px;
	bottom: 0;
	pointer-events: none;
	background: #d31967;
}
/*__________ Return Button --- __________*/


/*__________ Service Item Navigation +++ __________*/
.svc-item-nav {
	height: 90px;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	background-color: #40aea8;
	color: #fff;
	z-index: 2;
}

.svc-item-list-box {
	width: 66%;
	height: 100%;
	float: left;
}
.svc-item-list {
	height: 100%;
	padding-right: 30px;
}
.svc-item-list > .owl-wrapper-outer,
.svc-item-list > .owl-wrapper-outer > .owl-wrapper {
	height: 100%;
}
.svc-item-list > .owl-wrapper-outer > .owl-wrapper {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	-ms-align-items: center;
	align-items: center;
}
.svc-item-list .item {
	padding: 0 10px;
	text-align: center;
}
.svc-item-list .item > a {
	font-size: 15px;
	font-weight: 700;
	color: inherit;
}
.svc-item-list .item > a.active {
	text-decoration: underline;
}
.svc-item-list .owl-controls .owl-prev {
	display: none;
}
.svc-item-list .owl-controls .owl-next {
	position: absolute;
	width: 30px;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 0;
	background-color: #24807c;
}
.svc-item-list .owl-controls .owl-next::before {
	content: '\2192';
	display: block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 22px;
}



.svc-item-contact {
	width: 34%;
	height: 100%;
	float: left;
	padding-left: 15px;
	border-left: 1px solid #fff;
}
.svc-item-contact-h {
	margin: 7px 0;
	font-size: 15px;
	font-weight: 700;
}
.svc-item-contact-form {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.svc-item-contact-left {
	width: 60%;
	float: left;
	padding-right: 10px;
}
.svc-item-contact-left > input,
.svc-item-contact-opt > select {
	display: block;
	width: 100%;
	height: 22px;
	max-width: 250px;
	margin-bottom: 5px;
	padding: 2px;
	padding-left: 5px;
	border: 0;
	border-bottom: 1px solid #fff;
	font-family: inherit;
	font-weight: 300;
	background-color: transparent;
	color: inherit;
}
.svc-item-contact-left > input::-webkit-input-placeholder {
	color: inherit;
}
.svc-item-contact-left > input::-moz-placeholder {
	color: inherit;
	opacity: 1;
}
.svc-item-contact-left > input:-ms-input-placeholder {
	color: inherit;
}
.svc-item-contact-left > input:-moz-placeholder {
	color: inherit;
	opacity: 1;
}
.svc-item-contact-left > input::placeholder {
	color: inherit;
	opacity: 1;
}

.svc-item-contact-right {
	width: 40%;
	float: left;
	padding-right: 10px;
	text-align: center;
}
.svc-item-contact-opt {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 8px;
	position: relative;
}
.svc-item-contact-opt::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 6px solid #fff;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.svc-item-contact-opt > select {
	padding-right: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.svc-item-contact-opt > select > option {
	color: #363636;
}
.svc-item-contact-btn {
	text-align: center;
}
.svc-item-contact-btn > button {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 15px;
	border: 0;
	border-radius: 100px;
	box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	line-height: 1;
	font-family: "Coco Gothic";
	font-size: 10px;
	font-weight: 700;
	background: #fff;
	color: #33afa9;
}
/*__________ Service Item Navigation --- __________*/



.service-item-section {
	height: 100%;
}
.svc-item-details {
	background: #fcfcfc;
}
.svc-item-article {
	padding-left: 15px;
	padding-bottom: 90px;
	left: 0 !important;
}
.svc-item-h {
	margin-left: 40%;
}
.svc-item-text {

}



.svc-item-img-box {
	bottom: 90px;
}





/* DETAILS
===============================================================================================================================*/
.details-return {

}
.details-section {

}
.fp-slides {
	z-index: initial;
}
.details-slide-bg {

}


/*__________ Equipment +++ __________*/
.details-number{
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 110px;
	line-height: 110px;
	margin-bottom: 0;
	position: absolute;
	top: 150px;
	right: 410px;
	text-align: center;
	font-size: 150px;
	font-weight: 500;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #cf246a;
}

.details-box {

}
.details-hide-btn {
	width: 30px;
	height: 30px;
	padding: 0;
	border: 0;
	border-radius: 50%;
	position: absolute;
	left: -15px;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
	background: #fff;
}
.details-hide-btn::before {
	content: '\2191';
	display: block;
	font-size: 18px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all .3s ease .3s;
	-o-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
	color: #00c9c6;
}
.details-hide-btn.hidden::before {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.details-mobile-btn {

}
.details-h {
	max-height: 66px;
	white-space: normal;
	-ms-text-overflow: initial;
	text-overflow: initial;
	font-size: 24px;
}
.details-h::before {
	height: 2px;
	z-index: 1;
}
.details-h::after {
	content: '';
	display: block;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #363636;
}
.details-list-box {
	height: calc(100% - 130px);
	font-size: 16px;
	font-weight: 500;
}
.details-info-p {
	margin-bottom: 20px;
}
.details-info-ul {
	padding-left: 0;
	list-style: none;
}
.details-info-ul > li {
	padding-left: 18px;
	position: relative;
}
.details-info-ul > li::before {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #12aeab;
}
.details-info-h {
	margin-bottom: 15px;
}


.details-btn-box {
	height: 50px;
	border-top: 1px solid #999;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.details-btn-item {
	display: block;
	width: 33.33333333%;
	height: 100%;
	float: left;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	line-height: 50px;
	text-align: center;
	text-decoration: none !important;
	font-size: 13px;
	font-weight: 500;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #a2a1a2;
}
.details-btn-item + .details-btn-item {
	border-left: 1px solid #999;
}
.details-btn-item:hover {
	color: #fff;
}
.details-btn-item::before {
	margin-right: 5px;
	width: 7px;
}
.details-btn-application {

}
.details-btn-condition {

}
.details-btn-more {

}
/*__________ Equipment --- __________*/



/*__________ Application +++ __________*/
.details-caption {

}
.details-app-box {
	margin-bottom: 30px;
	padding-bottom: 12px;
	position: relative;
}
.details-app-box::before {
	content: '';
	display: block;
	max-width: 200px;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #12aeab;
}
.details-h.app {
	max-height: 56px;
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 0;
}
.details-h.app::before,
.details-h.app::after {
	display: none;
}
.details-app-h-2 {
	max-height: 42px;
	margin: 0;
	overflow: hidden;
}
.details-list-box.app {

}
.details-list-box.app .overview{
	right: 0;
}
.details-form {
	color: #fff;
}
.details-input {
	margin-bottom: 15px;
	position: relative;
}
.details-input::before {
	content: '';
	display: block;
	height: 1px;
	max-width: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all .7s cubic-bezier(0, 0.5, 0.5, 1);
	-o-transition: all .7s cubic-bezier(0, 0.5, 0.5, 1);
	transition: all .7s cubic-bezier(0, 0.5, 0.5, 1);
	background: #00c9c6;
}
.details-input.active::before {
	max-width: 200px;
}
.details-input > input {
	display: block;
	width: 100%;
	max-width: 200px;
	border: 0;
	border-bottom: 1px solid #fff;
	font-size: 17px;
	font-weight: 500;
	background-color: transparent;
	color: #fff;
}
.details-input > input::-webkit-input-placeholder {
	color: inherit;
}
.details-input > input::-moz-placeholder {
	color: inherit;
	opacity: 1;
}
.details-input > input:-ms-input-placeholder {
	color: inherit;
}
.details-input > input:-moz-placeholder {
	color: inherit;
	opacity: 1;
}
.details-input > input::placeholder {
	color: inherit;
	opacity: 1;
}
.details-textarea {

}
.details-textarea > input {
	max-width: none;
}
.details-textarea.active::before {
	max-width: 100%;
}


.details-btn-send,
.details-btn-cancel {
	width: 50%;
}
.details-btn-send {
	padding-left: 0;
	border: 0;
	cursor: pointer;
	font-family: inherit;
	background: inherit;
}
.details-btn-cancel {

}
/*__________ Application --- __________*/



/*__________ More +++ __________*/
.details-field {
	height: 100%;
	background-color: #fcfcfc;
}
.details-article-number {
	height: 260px;
	position: absolute;
	bottom: 30px;
	margin-bottom: 0;
	opacity: 0.05;
	font-size: 270px;
	font-weight: 500;
	color: #000;
}

.details-article {
	max-width: 700px;
	padding-right: 15px;
	position: absolute;
	left: 350px;
	right: 0;
	top: 30px;
	bottom: 30px;
	margin: auto;
}
.details-article-h {
	max-height: 72px;
	margin: 30px 0;
	margin-top: 150px;
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
	font-size: 26px;
	font-weight: 700;
	color: #000;
}
.details-article-h::before {
	content: '';
	display: block;
	width: 100%;
	max-width: 200px;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #12aeab;
	z-index: 2;
}
.details-article-h::after {
	content: '';
	display: block;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fcfcfc;
}
.details-article-text {
	height: calc(100% - 252px);
	font-size: 18px;
}

/*__________ More --- __________*/





/* SEARCH PAGE
===============================================================================================================================*/
.search-box {
	height: 100%;
	max-width: 600px;
	padding: 50px 15px;
	margin: auto;
}
.search-box-h {
	max-height: 76px;
	font-size: 28px;
}
.search-box-text {

}
.search-box-p {
	font-size: 25px;
	font-weight: 500;
}
.search-box-p > a {
	display: block;
	padding-bottom: 5px;
	position: relative;
	text-decoration: none;
	color: inherit;
}
.search-box-p > a::before {
	content: '';
	width: 0;
	height: 2px;
	display: block;
	position: absolute;
	bottom: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: #12aeab;
}
.search-box-p > a:hover::before {
	width: 100px;
}







/* 404 NOT FOUND
===============================================================================================================================*/
.not-found-box {
	display: table;
	width: 100%;
	height: 100%;
	padding: 30px 0;
}
.not-found {
	display: table-cell;
	vertical-align: middle;
}
.not-found-img {
	text-align: center;
}
.not-found-img > img {
	width: 100%;
}
.not-found-h {
	margin-top: 30px;
	margin-bottom: 0;
	padding: 0 15px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	color: #cf246a;
}


